.compojoom-bootstrap {
    position: static;
}
.compojoom-bootstrap .body.rows {
    top: auto!important;
}
.compojoom-bootstrap .body.content.rows {
    background-color: transparent;
}
.compojoom-bootstrap .body.content.rows .content-inner {
    background-color: transparent;
}

.modal .compojoom-changelog h3 {
    font-size: 17px;
    margin: 0 13px 0.5em 0;
}
.modal .compojoom-changelog h3 span {
    color: #999;
    font-size: 0.8em;
    font-style: italic;
}
.modal .compojoom-changelog ul {
    background-color: #fefefe;
    border-color: #ccc;
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
    font-size: 13px;
    list-style-type: none;
    margin: 3px 13px 20px 3px;
    padding: 7px;
}
.modal .compojoom-changelog li {
    line-height: 18px;
    margin: 0 3px 3px;
    padding: 0;
}
.modal .compojoom-changelog li span {
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    width: 32px;
}
.modal .compojoom-changelog li.securityfixed {
    color: red;
}
.modal .compojoom-changelog li.fixed {
    color: #265871;
}
.modal .compojoom-changelog li.language {
    color: purple;
}
.modal .compojoom-changelog li.added {
    color: green;
}
.modal .compojoom-changelog li.changed {
    color: #333;
}
.modal .compojoom-changelog li.changedmisc {
    color: #999;
}
.modal .compojoom-changelog li.removed {
    color: #be2d26;
}
.modal .compojoom-changelog li.note {
    color: #d37e05;
}

.container-title {
    margin-left: 20px;
}
