/*
=========================================================================
Compojoom - Responsive Admin Template - Fixes for Joomla 2.5

Author				Yves Hoppe - Compojoom
URL					https://compojoom.com
Version				1.0
Update Released		Mai 15, 2014
=========================================================================
*/

.container {
	text-align: left !important;
}

.compojoom-bootstrap {
	position: absolute;
	top: 90px;
	left: 0;
	margin: 0 11px;
	width: 90%;
	width: calc(100% - 22px);
	min-height: 80%;
	min-height: calc(100% - 90px);
	/*bottom: 40px;*/
	border-right: 1px solid #ccc;
}

.compojoom-bootstrap .header.sidebar {
	top: 0;
}

.compojoom-bootstrap .body.content.rows {
	top: 45px;
}

.compojoom-bootstrap .body.rows {
	bottom: 70px;
	top: 45px;
}

.compojoom-bootstrap .body.rows {
	bottom: 70px;
	top: 45px;
}

div.toolbar-list span {
	height: 16px !important;
	width: 16px !important;
	display: inline-block !important;
	background-size: 16px 32px;
	background-repeat:no-repeat;
	margin-top: 2px !important;
	margin-right: 5px !important;
	float: left !important;
}

#toolbar {
	padding-top: 3px;
}

.compojoom-bootstrap .header.sidebar .logo {
	padding: 15px 0 0 15px;
}

.toolbar-list a {
	padding: 5px 10px !important;
}

#filter-bar {
	margin-top: 10px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	min-height: 24px;
	border-radius: 3px !important;
}

.compojoom-bootstrap .chzn-single {
	min-height: 24px;
}

.compojoom-bootstrap .rows, .compojoom-bootstrap .col, .compojoom-bootstrap .page {
	overflow: hidden;
	position: relative;
}

.compojoom-bootstrap .radio input.btn {display: none !important;}
.compojoom-bootstrap .radio label.btn {display: inline-block !important; margin: 0;}

.compojoom-bootstrap fieldset label, fieldset span.faux-label {
	float: none !important;
}
.compojoom-bootstrap .radio, .compojoom-bootstrap .checkbox {
	display: block;
	margin-bottom: 0px;
	margin-top: 0px;
	min-height: 20px;
	padding-left: 20px;
}

.compojoom-bootstrap .radio, .compojoom-bootstrap .checkbox {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	min-height: 20px;
	background: #eaeaea;
	border-radius: 2px;
	padding: 0;
}

.compojoom-bootstrap .controls > .radio:first-child, .controls > .checkbox:first-child {
	padding-top: 0px;
}

.compojoom-bootstrap .control-group .controls {
	display: inline-block;
	margin: 10px 20px;
}

.compojoom-bootstrap #filter-bar .btn-group .btn {
	background: #eaeaea;
	border-radius: 2px;
	margin: 0 5px !important;
}

.compojoom-bootstrap #filter-bar .btn-group .btn {
	padding: 2px 8px;
}

.compojoom-bootstrap .form-horizontal .control-label,
.compojoom-bootstrap .form-horizontal .radio,
.compojoom-bootstrap .form-horizontal .checkbox,
.compojoom-bootstrap .form-horizontal .radio-inline,
.compojoom-bootstrap .form-horizontal .checkbox-inline {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 0;
}

.hasTooltip {
	display:inline-block !important;
	margin: 2px 5px 0 5px;
}


.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
}
.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}
.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}
.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	white-space: normal;
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.popover-title:empty {
	display: none;
}
.popover-content {
	padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover .arrow {
	border-width: 11px;
}
.popover .arrow:after {
	border-width: 10px;
	content: "";
}
.popover.top .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999;
	border-top-color: rgba(0,0,0,0.25);
	bottom: -11px;
}
.popover.top .arrow:after {
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #fff;
}
.popover.right .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999;
	border-right-color: rgba(0,0,0,0.25);
}
.popover.right .arrow:after {
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #fff;
}
.popover.bottom .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: rgba(0,0,0,0.25);
	top: -11px;
}
.popover.bottom .arrow:after {
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #fff;
}
.popover.left .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999;
	border-left-color: rgba(0,0,0,0.25);
}
.popover.left .arrow:after {
	right: 1px;
	border-right-width: 0;
	border-left-color: #fff;
	bottom: -10px;
}
.thumbnails {
	margin-left: -20px;
	list-style: none;
	*zoom: 1;
}
.thumbnails:before,
.thumbnails:after {
	display: table;
	content: "";
	line-height: 0;
}
.thumbnails:after {
	clear: both;
}
.row-fluid .thumbnails {
	margin-left: 0;
}
.thumbnails > li {
	float: left;
	margin-bottom: 18px;
	margin-left: 20px;
}
.thumbnail {
	display: block;
	padding: 4px;
	line-height: 18px;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	box-shadow: 0 1px 3px rgba(0,0,0,0.055);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a.thumbnail:hover,
a.thumbnail:focus {
	border-color: #08c;
	-webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
	-moz-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
	box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
.thumbnail > img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.thumbnail .caption {
	padding: 9px;
	color: #555;
}
.label,
.badge {
	display: inline-block;
	padding: 2px 4px;
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #999;
}
.label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.badge {
	padding-left: 9px;
	padding-right: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
.label:empty,
.badge:empty {
	display: none;
}
a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.label-important,
.badge-important {
	background-color: #b94a48;
}
.label-important[href],
.badge-important[href] {
	background-color: #953b39;
}
.label-warning,
.badge-warning {
	background-color: #f89406;
}
.label-warning[href],
.badge-warning[href] {
	background-color: #c67605;
}
.label-success,
.badge-success {
	background-color: #468847;
}
.label-success[href],
.badge-success[href] {
	background-color: #356635;
}
.label-info,
.badge-info {
	background-color: #3a87ad;
}
.label-info[href],
.badge-info[href] {
	background-color: #2d6987;
}
.label-inverse,
.badge-inverse {
	background-color: #333;
}
.label-inverse[href],
.badge-inverse[href] {
	background-color: #1a1a1a;
}
.btn .label,
.btn .badge {
	position: relative;
	top: -1px;
}
.btn-mini .label,
.btn-mini .badge {
	top: 0;
}

.compojoom-bootstrap  .toolbar-list a.toolbar {
	/*border-radius: 3px;*/
}

.c-toolbar-holder .btn {
}

.c-toolbar-holder {
	padding: 3px 0 0 14px;
}

.compojoom-bootstrap .control-group .control-label {
	min-width: 200px;
	text-align: left;
}

.compojoom-bootstrap table.adminlist thead th {
	text-align: left;
}

.compojoom-bootstrap .form-group .control-label {
	padding-top: 7px;
}

.compojoom-bootstrap .c-toolbar .modal {
	display: inherit;
	overflow: hidden;
	position: static;
}

.compojoom-bootstrap .checkbox input[type="checkbox"],
.compojoom-bootstrap .checkbox-inline input[type="checkbox"] {
	float: left;
	margin-right: 10px !important;
}

.compojoom-bootstrap .button2-left .modal {display: block; position: static;overflow: auto;}
.compojoom-bootstrap .toolbar-list .modal {position: static !important; min-width: 0 !important; display: block !important;margin-left: 0 !important; border-color: #e6e6e6 #e6e6e6 #bfbfbf !important; font-size: 14px !important;}