/* Galleria Classic Theme 2012-08-07 | https://raw.github.com/aino/galleria/master/LICENSE | (c) Aino */

#galleria-loader{height:1px!important}

.galleria-theme-compojoom {
	position: relative;
	overflow: hidden;
	background: #000;
}
.galleria-theme-compojoom img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.galleria-theme-compojoom .galleria-stage {
	position: absolute;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	overflow:hidden;
}
.galleria-theme-compojoom .galleria-thumbnails-container {
	height: 30px;
	bottom: 0;
	position: absolute;
	left: 5px;
	right: 30px;
	z-index: 2;
}
.galleria-theme-compojoom .galleria-carousel .galleria-thumbnails-list {
	margin-left: 30px;
	margin-right: 30px;
}
.galleria-theme-compojoom .galleria-thumbnails .galleria-image {
	background: none repeat scroll 0 0 transparent;
	border: 3px double #111;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	margin: 0 0 0 1px;
	opacity: 0.6;
	width: 37px;
}
.galleria-theme-compojoom.notouch .galleria-thumbnails .galleria-image:hover,
.galleria-theme-compojoom.touch .galleria-thumbnails .galleria-image:active {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
	opacity: 0.9;
}
.galleria-theme-compojoom .galleria-counter {
	position: absolute;
	bottom: 10px;
	left: 10px;
	text-align: right;
	color: #fff;
	font: normal 11px/1 arial,sans-serif;
	z-index: 1;
}
.galleria-theme-compojoom .galleria-loader {
	background: #000;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	display: none;
	background: url(classic-loader.gif) no-repeat 2px 2px;
}
.galleria-theme-compojoom .galleria-info {
	width: 50%;
	top: 15px;
	left: 15px;
	z-index: 2;
	position: absolute;
	background: rgba(0,0,0,0.5);
}
.galleria-theme-compojoom .galleria-info-text {
	padding: 12px;
	display: none;
	/* IE7 */ zoom:1;
}
.galleria-theme-compojoom .galleria-info-title {
	font: bold 12px/1.1 arial,sans-serif;
	margin: 0;
	color: #fff;
	margin-bottom: 7px;
}
.galleria-theme-compojoom .galleria-info-description {
	font: italic 12px/1.4 georgia,serif;
	margin: 0;
	color: #bbb;
}
.galleria-theme-compojoom .galleria-info-close {
	width: 9px;
	height: 9px;
	position: absolute;
	top: 5px;
	right: 5px;
	background-position: -753px -11px;
	opacity: .5;
	filter: alpha(opacity=50);
	cursor: pointer;
	display: none;
}
.galleria-theme-compojoom .notouch .galleria-info-close:hover{
	opacity:1;
	filter: alpha(opacity=100);
}
.galleria-theme-compojoom .touch .galleria-info-close:active{
	opacity:1;
	filter: alpha(opacity=100);
}
.galleria-theme-compojoom .galleria-info-link {
	background-position: -669px -5px;
	opacity: .7;
	filter: alpha(opacity=70);
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #000;
}
.galleria-theme-compojoom.notouch .galleria-info-link:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.galleria-theme-compojoom.touch .galleria-info-link:active {
	opacity: 1;
	filter: alpha(opacity=100);
}
.galleria-theme-compojoom .galleria-image-nav {
	position: absolute;
	top: 50%;
	margin-top: -62px;
	width: 100%;
	height: 62px;
	left: 0;
}
.galleria-theme-compojoom .galleria-image-nav-left,
.galleria-theme-compojoom .galleria-image-nav-right {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: pointer;
	width: 62px;
	height: 124px;
	position: absolute;
	left: 10px;
	z-index: 2;
	background-position: 0 46px;
}
.galleria-theme-compojoom .galleria-image-nav-right {
	left: auto;
	right: 10px;
	background-position: -254px 46px;
	z-index: 2;
}
.galleria-theme-compojoom.notouch .galleria-image-nav-left:hover,
.galleria-theme-compojoom.notouch .galleria-image-nav-right:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.galleria-theme-compojoom.touch .galleria-image-nav-left:active,
.galleria-theme-compojoom.touch .galleria-image-nav-right:active {
	opacity: 1;
	filter: alpha(opacity=100);
}
.galleria-theme-compojoom .galleria-thumb-nav-left,
.galleria-theme-compojoom .galleria-thumb-nav-right {
	cursor: pointer;
	display: none;
	background-position: -495px -1px;
	position: absolute;
	left: 0;
	top: 0;
	height: 31px;
	width: 23px;
	z-index: 3;
	opacity: .8;
	filter: alpha(opacity=80);
}
.galleria-theme-compojoom .galleria-thumb-nav-right {
	background-position: -578px -1px;
	border-right: none;
	right: 0;
	left: auto;
}
.galleria-theme-compojoom .galleria-thumbnails-container .disabled {
	opacity: .2;
	filter: alpha(opacity=20);
	cursor: default;
}
.galleria-theme-compojoom.notouch .galleria-thumb-nav-left:hover,
.galleria-theme-compojoom.notouch .galleria-thumb-nav-right:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #111;
}
.galleria-theme-compojoom.touch .galleria-thumb-nav-left:active,
.galleria-theme-compojoom.touch .galleria-thumb-nav-right:active {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #111;
}
.galleria-theme-compojoom.notouch .galleria-thumbnails-container .disabled:hover {
	opacity: .2;
	filter: alpha(opacity=20);
	background-color: transparent;
}

.galleria-theme-compojoom .galleria-carousel .galleria-thumb-nav-left,
.galleria-theme-compojoom .galleria-carousel .galleria-thumb-nav-right {
	display: block;
}
.galleria-theme-compojoom .galleria-thumb-nav-left,
.galleria-theme-compojoom .galleria-thumb-nav-right,
.galleria-theme-compojoom .galleria-info-link,
.galleria-theme-compojoom .galleria-info-close,
.galleria-theme-compojoom .galleria-image-nav-left,
.galleria-theme-compojoom .galleria-image-nav-right {
	background-image: url(classic-map.png);
	background-repeat: no-repeat;
}
.galleria-theme-compojoom.galleria-container.videoplay .galleria-info,
.galleria-theme-compojoom.galleria-container.videoplay .galleria-counter{ display:none!important; }


.galleria-theme-compojoom .galleria-bar {
	background:#141414;
	bottom: 0;
	height: 31px;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	z-index: 3;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.galleria-theme-compojoom .galleria-fullscreen {
	background: rgba(0, 0, 0, 0);
	bottom: 1px;
	cursor: pointer;
	position: absolute;
	left: auto;
	right: 0;
	font-size: 20px;
	padding: 5px 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	color: #777;
}

.galleria-theme-compojoom.notouch .galleria-thumblink:hover,
.galleria-theme-compojoom.touch .galleria-thumblink:active,
.galleria-theme-compojoom .galleria-thumblink.open,
.galleria-theme-compojoom.notouch .galleria-fullscreen:hover,
.galleria-theme-compojoom.touch .galleria-fullscreen:active,
.galleria-theme-compojoom.notouch .galleria-play:hover,
.galleria-theme-compojoom.touch .galleria-play:active,
.galleria-theme-compojoom.notouch .galleria-popout:hover,
.galleria-theme-compojoom.touch .galleria-popout:active {
	background-color: #000;
	color: #FFF;
}
